/dist
/build
/node_modules
/.next
/.vite
/coverage

**/*.min.js
**/*.min.css

package-lock.json
yarn.lock
pnpm-lock.yaml

*.generated.*
*.d.ts
*.tsx?~

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
